img{
    display: block;
    margin: 0 auto;
    width: 25%;
}

h1{
    text-align: center;
}

input{
    display: block;
    margin: 0 auto;
    width: 25%;
    border-color: black;
    text-align: center;
}

.error-output{
    display: block;
    margin: 0 auto;
    margin-left: 10px;
    font-size: 13px;
    font-style: italic;
    color: red;
    text-align: center;
}